<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64939720946-b8n3hf176oen0f11kn16njdufr0ihng5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64939720946-b8n3hf176oen0f11kn16njdufr0ihng5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>64939720946-9dehbvk2uh7g59mi0kp8l06oqtdhrj33.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADkqDevAU3P75ENmHNTr0HbVQC-QLIlog</string>
	<key>GCM_SENDER_ID</key>
	<string>64939720946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trust.travel</string>
	<key>PROJECT_ID</key>
	<string>trust-travel-dd450</string>
	<key>STORAGE_BUCKET</key>
	<string>trust-travel-dd450.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64939720946:ios:072dcc6d0556d8065dd06b</string>
</dict>
</plist>